{% extends "layout.html" %}

{% block gallery %}

<section id="gallery">
    <div class="container-fluid">
        <div class="section-header">
            <h3 class="section-title">Style AI Gallery</h3>
            <span class="section-divider"></span>
            <p class="section-description">More examples of generated artistic images.</p>
        </div>

        <div class="row no-gutters">

            <div class="col-lg-4 col-md-6">
                <div class="gallery-item wow fadeInUp">
                    <a href="../static/img/gallery/gallery-1.jpg" class="gallery-popup">
                        <img src="../static/img/gallery/gallery-1.jpg" alt="">
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="gallery-item wow fadeInUp">
                    <a href="../static/img/gallery/gallery-2.jpg" class="gallery-popup">
                        <img src="../static/img/gallery/gallery-2.jpg" alt="">
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="gallery-item wow fadeInUp">
                    <a href="../static/img/gallery/gallery-3.jpg" class="gallery-popup">
                        <img src="../static/img/gallery/gallery-3.jpg" alt="">
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="gallery-item wow fadeInUp">
                    <a href="../static/img/gallery/gallery-4.jpg" class="gallery-popup">
                        <img src="../static/img/gallery/gallery-4.jpg" alt="">
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="gallery-item wow fadeInUp">
                    <a href="../static/img/gallery/gallery-5.jpg" class="gallery-popup">
                        <img src="../static/img/gallery/gallery-5.jpg" alt="">
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="gallery-item wow fadeInUp">
                    <a href="../static/img/gallery/gallery-6.jpg" class="gallery-popup">
                        <img src="../static/img/gallery/gallery-6.jpg" alt="">
                    </a>
                </div>
            </div>

        </div>

    </div>
</section><!-- #gallery -->

{% endblock %}