{% extends "base.html" %}

{% block error_500 %}


<section id="about">
    <div class="container-fluid">
        <div class="section-header">
            <h3 class="section-title">An unexpected error has occured during storage.</h3>
            <span class="section-divider"></span>
            <div class="text-center">
                <p><a href="{{ url_for('home') }}">Back</a></p>
            </div>
        </div>
    </div>
</section>


<section id="about"></section>

<section id="about"></section>

<section id="about"></section>

{% endblock %}
