{% extends "layout.html" %}

{% block index %}
<section id="intro">

    <div class="intro-text">

        <div class="text-center" style="margin-top:60px;">
            {% if message %}
            <p class="error" style="color:darkgray; margin-top:10px;"><strong>Info:</strong> {{ message }}</p>
            {% endif %}

            <div class="text-lg-left">
                {% if current_user.is_authenticated %}
                <li class="navbar-brand logo" role="presentation"><h5>Currently logged in as {{ current_user.username }}</h5></li>
                {% endif %}
            </div>
        </div>
            <h2>Style Transfer Web Service</h2>
            <p>Create artistic images using Deep Learning. No talent required!</p>
            <br>
            <p>Here are some generated examples.</p>
            <!--<a href="#about" class="btn-get-started scrollto">Get Started</a>-->
        </div>

        <div class="product-screens">

            <div class="product-screen-1 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.6s">
                <img src="../static/img/neil.png" alt="">
            </div>

            <div class="product-screen-2 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.6s">
                <img src="../static/img/pelican.png" alt="">
            </div>

            <div class="product-screen-3 wow fadeInUp" data-wow-duration="0.6s">
                <img src="../static/img/scenery.png" alt="">
            </div>

        </div>
</section>
    {% endblock %}

    {% block start %}

    <section id="call-to-action">
        <div class="container">
            <div class="row">
                <hr>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </div>
            <div class="row">
                <div class="col-lg-9 text-center text-lg-left">
                    <h3 class="cta-title">Get Started</h3>
                    <p class="cta-text"> Import your own custom images for style and content and merge them into one single artistic piece!</p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href="{{ url_for('style') }}">Create Art</a>
                </div>
            </div>

        </div>
    </section>

    {% endblock %}
