{% extends "layout.html" %}

{% block style %}

<section id="about">
    <div class="container-fluid">
        <div class="section-header">
            <h3 class="section-title">Create art with Style AI</h3>
            <span class="section-divider"></span>

            <div class="text-center">
                {% if current_user.is_authenticated %}
                {% if current_user.is_oauth %}
                <li class="navbar-brand logo" role="presentation"><h5>Currently logged in as {{ current_user.social_username }}</h5></li>
                {% else %}
                <li class="navbar-brand logo" role="presentation"><h5>Currently logged in as {{ current_user.username }}</h5></li>
                {% endif %}
                {% endif %}
            </div>
            <p class="section-description">
                Import custom content and style images and mix them to create the perfect painting.
            </p>
        </div>

        <form action="" method="post" role="form" id="upload-form"  enctype="multipart/form-data">

            <div class="row">
                <div class="container-fluid">
                    <h2 class="text-center">Upload your images</h2>
                </div>
                <div class="col-lg-6 content wow fadeInLeft">
                    <div class="container-fluid">
                        <div class="form-row">
                            <div class="form-group col-lg-11">
                                <label class="text-center">Content Image</label>
                                <div class="input-group">
                                    <input type="text" name="content-file-name" class="form-control" readonly>

                                    <div class="input-group-btn col-lg-12 text-center">
                                        <span class="btn btn-default btn-file">
                                            Browse… <input type="file" name="content-file" id="imgInpContent" required>
                                        </span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="form-row">

                            <div class="form-group col-lg-11 text-center">
                                <div id="val_message_cont"></div>
                                <img id='img-upload-content' class="img-fluid" style="height: auto; width: 100%"/>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-6 col-offset-6 centered content wow fadeInLeft ">
                    <div class="container-fluid">
                        <div class="form-row">
                            <div class="form-group col-lg-11">
                                <label class="text-center">Style Image</label>
                                <div class="input-group">
                                    <input type="text" name="style-file-name" class="form-control" readonly>
                                    <div class="input-group-btn col-lg-12 text-center">
                                        <span class="btn btn-default btn-file">
                                            Browse… <input type="file" name="style-file" id="imgInpStyle" required>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-lg-11 text-center">
                                <div id="val_message_style"></div>
                                <img id='img-upload-style' class="img-fluid" style="height: auto; width: 100%"/>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="content wow fadeInLeft col-lg-6">
                    <div class="cta-btn-container text-center">
                        <button class="btn btn-outline btn-xl btn-block" id="load" type="submit" style="background-color:aquamarine">
                            Generate
                        </button>
                    </div>
                </div>
                <div class="col-lg-3"></div>
            </div>

            <div class="row">
                <div class="container text-center">
                    <h4 class="err-mes" style="margin: 20px auto; color:darkorange">{{message}}</h4>
                </div>
            </div>

            <div class="row">

                <h6 style="display: block; margin: 20px auto;">
                    Warning: This may take a few minutes to process.
                </h6>
            </div>
            <div class="row">
                <img src="../static/img/loading.gif" id="gif" style="display: block; margin: 20px auto; width: 100px; visibility: hidden;">
            </div>
        </form>

    </div>



</section><!-- #about -->


<section id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 text-center text-lg-left">
                <h3 class="cta-title">Back to home page</h3>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
                <a class="cta-btn align-middle" href="{{ url_for('home') }}">Back</a>
            </div>
        </div>

    </div>
</section>
{% endblock %}