{% extends "base.html" %}

{% block error_404 %}


<section id="about">
    <div class="container-fluid">
        <div class="section-header">
            <h3 class="section-title">Resource not found or page does not exist.</h3>
            <span class="section-divider"></span>
            <div class="text-center">
                <p><a href="{{ url_for('main.home') }}">Back</a></p>
            </div>
        </div>
    </div>
</section>

<section id="about">
    
</section>

<section id="about">

</section>

<section id="about">

</section>


{% endblock %}